<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Traffle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED2312FC196D06E500AB99DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED231312196D072D00AB99DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED3F6A2019296ED9002C349C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED3F6A3B19296EDA002C349C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
